<body class="bg-dark">
  <div class="col-11">
    <div class="row">
      <div class="offset-5 col-4 ">
        <div class="row">
          <form
            (ngSubmit)="SignUp(this.form.value)"
            [formGroup]="form"
            class="mt-5"
          >
            <div class="form-group text-light">
              <label for="exampleInputEmail1 ">Email address</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Enter email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group text-light">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
              />
            </div>
            <div>
              <button
                *ngIf="notLogged"
                (click)="notLogged = !notLogged"
                class="btn btn-link buttons-link"
                type="button"
              >
                I have an account
              </button>
              <button
                *ngIf="!notLogged"
                (click)="notLogged = !notLogged"
                class="btn btn-link buttons-link"
                type="button"
              >
                I do not have an account
              </button>
            </div>
            <button
              *ngIf="notLogged"
              type="submit"
              class="btn btn-danger buttons "
            >
              SignUp
            </button>
            <button
              *ngIf="!notLogged"
              type="submit"
              class="btn btn-info buttons"
            >
              SignIn
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
